html {
    background-color: rgb(43, 39, 240);
    height: 100%;
    width: 100%;
}

nav {
    background-color: grey;
}

h1 a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

#workoutPage, #restaurantPage, #meetUpPage {
    display: none;
    margin-top: 20px;
} 

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(63, 96, 243, 0.904);
}

legend {
    margin-left: auto;
    margin-right: auto;
}

p {
    font-weight: bolder;
    text-align: center;
}

#creator {
    text-align: center;
}

#creator a {
    color: white;
}

fieldset {
    box-sizing: border-box;
    border: 2px solid red;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.row::before, .row::after {
    display: flex;
    content: '';
}

.row::after {
    clear: both;
}

.col-2 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

button {
    display: inline-block;
    background-color: rgb(21, 68, 221);
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 30px;
}

.fa-search {
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size: 30px;
}

.searchMeetUp {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
}

#moreMeetUps {
    display: none;
}

@media only screen and (min-width: 640px) {
    .col-2 {
        width: 50%;
    }
}


/* img {
    display: inline-block;
    opacity: 0.4;
    width: 100%;
} */