html {
    background-color: #0197b2;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100%;
}

*:focus {
    border: 3px solid red;
}

nav {
    display: none;
    background-color: rgb(22, 22, 22);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a:link {
    text-decoration: none;
}

nav#appOptions {
    margin-top: 14px;
}

#appName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Overpass Mono', monospace;
    background-color: #000000d5;
    color: #ffd700;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 100px;
}

#workout:hover {
    background-color: #0083bb;
    color: black;
}

#nutrition:hover {
    background-color: #29bf89;
    color: black;
}

#welcomePage {
    background-color: #0197b2;
}

p#introduction {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#showWorkoutPage, #showNutritionPage {
    display: block;
    color: black;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;
}

#showWorkoutPage {
    background-image: url(https://www.navymwrmidlant.com/modules/media/?do=thumb&id=41115f0d-f53a-47ce-8e02-f8dfa0eeaa60);
    height: 150px;
    background-repeat: no-repeat;
    left: 0;
}

#showNutritionPage {
    background-image: url(https://www.nutritionsmart.com/wp-content/themes/nutritionsmart/images/top_banner_new.jpg);
    height: 150px;
    margin-top: 40px;
    background-repeat: no-repeat;
    left: 0;
    bottom: 20px;
    padding-bottom: 2em;
}

.exposition {
    position: relative;
    background-color: rgb(255, 254, 254);
    text-align: center;
    width: 300px;
}

#workoutPage, #nutritionPage {
    display: none;
    margin-top: 20px;
    background-repeat: no-repeat;
} 

.jsSearchWorkoutForm, .jsSearchNutritionForm {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border: none;
}

.jsSearchWorkoutForm {
    background-color: #0083bb;
}

.jsSearchNutritionForm {
    background-color: #29bf89;
}

legend {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

#workoutResult, #youtubeWorkoutVideos {
    margin: 10px auto;
    width: 90%;
}

p {
    font-weight: lighter;
    text-align: center;
}

.disclaimer {
    font-style: italic;
    font-weight: bold;
}

#selectMuscleGroup, #selectWorkout, #searchNutrition {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

button {
    display: inline-block;
    background-color: #000;
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-search {
    display: block;
    position: relative;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
}

.titleCard, #moreRecipes, #moreWorkoutVideos, #moreMeetups, #moreRestaurants {
    display: block;
    background-color: #c7c7c7;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
}

#findMoreMeetups, .youtubeRecipeQuery, .youtubeWorkoutQuery, #findMoreRestaurants {
    font-size: 1.3em;
}

a.youtubeWorkoutQuery p, a#meetupQuery {
    color: darkblue;
    font-weight: 800;
}

a.youtubeRecipeQuery p, a.streetAddress p, a#zomatoQuery {
    color: green;
    font-weight: 800;
}

.workoutName {
    font-weight: bold;
}

nav#workoutOptions {
    margin-top: 40px;
    margin-bottom: 20px;
}

.jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
    background-color: rgb(243, 243, 236);
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}

div.jsSearchMeetups {
    text-align: center;
}

#workoutOptions, #nutritionOptions {
    margin-bottom: 16px;
}

p.restaurantName {
    font-weight: bold;
}

.jsThumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;;
}

p.jsWorkoutVideoTitle, p.jsRecipeVideoTitle {
    text-decoration: none;
    font-weight: 800;
    padding: 10px
}

p.jsWorkoutVideoTitle {
    color: blue;
}

p.jsRecipeVideoTitle {
    color: green
}

@media only screen and (max-width: 600px) and (max-height: 850px) {
    
    p {
        font-size: 1.2rem;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        font-size: 11px;
    }

    #showWorkoutPage, #showNutritionPage {
        font-size: .8rem;
        height: 150px;
    }

    .exposition {
        width: 100px;
    }

    main {
        padding-top: 65px;
    }

    nav#appOptions {
        margin-top: 14px;
    }
    
    a#workout, a#nutrition {
        padding: 10px;
        font-size: 16px;
    }

    legend {
        font-size: 1.2rem;
    }

    button {
        display: inline-block;
        margin-bottom: 1em;
    }
    
    button:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    .fa-search {
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1.4em;
    }

    .titleCard, #moreRecipes, #moreWorkoutVideos, #moreMeetups, #moreRestaurants {
        padding: 3px;
    }
    
    #selectMuscleGroup, #selectWorkout, #searchNutrition { 
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    p.restaurantName{
        font-size: 1.2rem;
    } 
    
    a.streetAddress {
        font-size: 1rem;
    }
    
    .jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
        margin: 0 auto;
    }

    a.jsMeetupName {
        font-size: 1.1rem;
    }
    
    .jsVideoTitle {
        font-size: 1.2rem;
        padding: 10px;
    }

    #findMoreMeetups, .youtubeRecipeQuery, .youtubeWorkoutQuery, #findMoreRestaurants {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) and (min-height: 730px) {

    p#introduction {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 1.4rem;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        font-size: 11px;
    }

    #showWorkoutPage, #showNutritionPage {
        font-size: 1.1rem;
        height: 150px;
    }

    .exposition {
        width: 100px;
    }

    nav#appOptions {
        margin-top: 14px;
    }
    
    a#workout, a#nutrition {
        padding: 11px;
        font-size: 1.2rem;
    }

    legend {
        font-size: 1.4rem;
    }

    button {
        display: inline-block;
        margin-bottom: 1em;
    }
    
    button:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    .fa-search {
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1.4em;
    }

    #findMoreMeetups, .youtubeRecipeQuery, .youtubeWorkoutQuery, #findMoreRestaurants {
        font-weight: bold;
        font-size: 1em;
    }
    
    #selectMuscleGroup, #selectWorkout, #searchNutrition { 
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    p.restaurantName{
        font-size: 1.2rem;
    } 
    
    a.streetAddress {
        font-size: 1rem;
    }
    
    .jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
        margin: 0 auto;
        padding: 10px;
    }

    a.jsMeetupName {
        font-size: 1.2rem;
    }
    
    .jsVideoTitle {
        font-size: 1.2rem;
        padding: 10px;
    }
}

@media only screen and (min-width: 640px) and (min-height: 1000px) {

    p#introduction {
        font-size: 2em;
    }

    nav#appOptions {
        margin-top: 14px;
    }

    p {
        font-size: 1.7rem;
    }

    ul {
        font-size: 1.6rem;
    }

    #appName {
        height: 100px;
        font-size: 1em;
    }
    
    a#workout, a#nutrition {
        padding: 14px;
        font-size: 1.6rem;
    }
    
    legend {
        font-size: 1.8rem;
    }

    #instructionsNutr, #instructionsWorkout {
        font-size: 1.6rem;
    }

    .disclaimer {
        font-size: 2.1rem;
    }

    #selectMuscleGroup, #selectWorkout, #searchNutrition {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 55%;
    }
    
    .fa-search {
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 2rem;
    }
    
    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 2em;
        font-size: 1.4em; 
    }
    
    p.restaurantName{
        font-size: 2rem;
    } 
    
    a.streetAddress {
        font-size: 1.3rem;
    }

    a.jsMeetupName {
        font-size: 1.6rem;
    }
    
    .jsVideoTitle {
        font-size: 1.7rem;
        padding: 20px;
    }

    #creator {
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1000px) {

    p#introduction {
        font-size: 1.9rem;
    }

    p {
        font-size: 1.2rem;
    }

    #appName {
        height: 60px;
    }
    
    a#workout, a#nutrition {
        padding: 16px;
        font-size: 1.6rem;
    }
    
    legend {
        font-size: 2rem;
    }

    #instructionsNutr, #instructionsWorkout {
        font-size: 1.8rem;
    }

    #selectMuscleGroup, #selectWorkout, #searchNutrition {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
    }

    .fa-search {
        width: 10%;
        height: 2.5em;
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 2.3rem;
    }
    
    #showWorkoutPage, #showNutritionPage {
        padding: 1em;
        font-size: 1.8em;
        width: 78%;
    }

    #showWorkoutPage:hover, #showNutritionPage:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    
    p.restaurantName{
        font-size: 2rem;
    } 
    
    a.streetAddress {
        font-size: 1.3rem;
    }

    p.jsVideoTitle {
        padding: 20px;
        font-size: 1.9rem;
    }

    a.jsMeetupName {
        font-size: 2rem;
    }
    
    .jsVideoTitle {
        font-size: 1rem;
    }

    .youtubeQuery p {
        font-size: 1.3em;
    }

    #creator {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px) and (max-height: 800px) {

    p#introduction {
        font-size: 1.7rem;
    }

    .disclaimer {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    ul {
        font-size: 1.4rem;
    }

    #appName {
        height: 100px;
        font-size: 1em;
    }

    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 1em;
        font-size: 1.4em;
        width: 900px;
    }
    
    a#workout, a#nutrition {
        padding: 29px;
        font-size: 1.3rem;
    }
    
    legend {
        font-size: 2.1rem;
    }

    #instructionsNutr, #instructionsWorkout {
        font-size: 1.5rem;
    }

    #selectMuscleGroup, #selectWorkout, #searchNutrition {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 1.2em;
        width: 50%;
    }

    .fa-search {
        width: 10%;
        height: 2.5em;
        margin-top: 20px;
    }

    p.workoutName {
        font-size: 1.1em;
    }

    a#recipes, a#restaurants {
        font-size: 1em;
    }

    .titleCard {
        font-size: 1.6rem;
    }
    
    p.restaurantName{
        font-size: 1.6rem;
    } 
    
    a.streetAddress {
        font-size: 1.3rem;
    }

    .jsThumbnail {
        width: 40%;
        height: 40%;
    }

    p.jsVideoTitle {
        padding: 20px;
        font-size: 1.3rem;
    }

    a.jsMeetupName {
        font-size: 1.3rem;
    }

    #findMoreMeetups, .youtubeQuery, #findMoreRestaurants {
        font-size: 1.4rem;
    }

    #creator {
        font-size: 1.7em;
    }
}