html {
    background-color: rgba(42, 39, 240, 0.377);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

nav {
    display: none;
    background-color: rgb(75, 73, 73);
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a:link {
    text-decoration: none;
}

#appName {
    color: white;
    border: 2px solid black;
    width: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
}

#workout:hover {
    background-color: rgb(31, 75, 141);
}

#nutrition:hover {
    background-color: rgb(28, 148, 28);
}

#welcomePage {
    background-color: aqua;
}

p#introduction {
    font-weight: bold;
}

#showWorkoutPage, #showNutritionPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 1em;
}

#workoutPage, #nutritionPage {
    display: none;
    margin-top: 20px;
    background-repeat: no-repeat;
} 

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(63, 96, 243, 0.904);
    border: none;
}

legend {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: lighter;
    text-align: center;
}

footer {
    color: white;
    background-color: rgb(75, 73, 73);
}

#creator {
    text-align: center;
}

#creator a {
    color: white;
}

button {
    display: inline-block;
    background-color: rgba(60, 34, 175, 0.918);
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 30px;
}

.fa-search {
    display: block;
    position: relative;
    padding: 5px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titleCard {
    display: block;
    background-color: bisque;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    width: 90%;
}

.workoutName {
    font-weight: bold;
}

.jsVideoTitle {
    color: black;
}

#searchWorkout, #searchNutrition {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
}

/* .jsSearchResults, .jsSearchNutritionResults {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.jsSearchResults:after, .jsSearchNutritionResults:after {
    content: "";
    display: table;
    clear: both
} */

.jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
    background-color: beige;
    border: 2px solid black;
    margin: 0 auto;
    width: 90%;
}

/* #youtubeWorkoutVideos, #workoutResult, #meetups {
    float: left;
    width: 33.33%;
}

#youtubeRecipeVideos, #googleRestaurants {
    float: left;
    width: 50%;
} */

.workoutName::-webkit-details-marker {
    color: silver;
    font-size: 125%;
    margin-right: 2px;
}

#workoutResult > .titleCard > .jsSearchWgerWorkouts {
    margin-left: 24;
} 

#moreMeetUps {
    display: none;
}

p.restaurantName {
    font-weight: bold;
}

.jsThumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

p.jsVideoTitle {
    text-decoration: underline;
    color: blue;
}

@media only screen and (max-width: 500px) and (min-height: 500px) {
    
    p {
        font-size: 18px;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        width: 160px;
        font-size: 11px;
    }
    
    a#workout, a#nutrition {
        padding: 10px;
        font-size: 16px;
    }

    button {
        display: inline-block;
        background-color: rgba(60, 34, 175, 0.918);
        color: white;
        height: 50px;
        margin-bottom: 1em;
    }
    
    button:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    .fa-home {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-size: 30px;
    }
    
    .fa-search {
        display: block;
        position: relative;
        padding: 5px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1em;
    }
    
    #searchWorkout, #searchNutrition {
        display: block;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto; 
    }
    
    p.restaurantName, a.streetAddress {
        font-size: 1rem;
    }

    /* .jsSearchResults, .jsSearchNutritionResults {
        box-sizing: border-box;
        width: 100%;
    } */
    
    .jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
        background-color: beige;
        border: 2px solid black;
        margin: 0 auto;
        width: 90%;
    }

    a.jsMeetupName {
        font-size: 0.8rem;
    }
    
    /* #youtubeWorkoutVideos, #workoutResult, #meetups {
        width: 45%;
        margin-top: 3px;
        margin-left: 10px;
    } */
    
    /* #youtubeRecipeVideos, #googleRestaurants {
        float: left;
        width: 50%;
    } */

    .jsThumbnail {
        width: 50%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jsVideoTitle {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 640px) and (min-height: 1000px) {

    p#introduction {
        font-size: 2em;
    }

    p {
        font-size: 18px;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        width: 250px;
        height: 100px;
        font-size: 1em;
    }
    
    a#workout, a#nutrition {
        padding: 10px;
        font-size: 16px;
    }
    
    .fa-home {
        padding: 10px;
        font-size: 30px;
    }
    
    .fa-search {
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1em;
    }
    
    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 2em;
        font-size: 1.4em; 
    }
    
    p.restaurantName, a.streetAddress {
        font-size: 1rem;
    }

    /* .jsSearchResults, .jsSearchNutritionResults {
        box-sizing: border-box;
        width: 100%;
    }
    
    .jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
        width: 90%;
    } */

    a.jsMeetupName {
        font-size: 0.8rem;
    }
    
    /* #youtubeWorkoutVideos, #workoutResult, #meetups {
        width: 45%;
        margin-top: 3px;
        margin-left: 10px;
    } */
    
    /* #youtubeRecipeVideos, #googleRestaurants {
        float: left;
        width: 50%;
    } */

    .jsThumbnail {
        width: 50%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jsVideoTitle {
        font-size: 1rem;
    }

    #creator {
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1000px) {

    p#introduction {
        font-size: 2em;
    }

    p {
        font-size: 18px;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        width: 250px;
        height: 100px;
        font-size: 1em;
    }
    
    a#workout, a#nutrition {
        padding: 10px;
        font-size: 16px;
    }
    
    .fa-home {
        padding: 10px;
        font-size: 30px;
    }
    
    .fa-search {
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1.4rem;
    }
    
    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 2.5em;
        font-size: 1.5em; 
    }
    
    p.restaurantName, a.streetAddress {
        font-size: 1rem;
    }

    p.jsVideoTitle {
        font-size: 1.3rem;
    }

    a.jsMeetupName {
        font-size: 1.2rem;
    }

    .jsThumbnail {
        width: 50%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jsVideoTitle {
        font-size: 1rem;
    }

    #creator {
        font-size: 1.8em;
    }
}
