html {
    background-color: rgba(42, 39, 240, 0.377);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

nav {
    display: none;
    background-color: grey;
    text-align: center;
}

a:link {
    text-decoration: none;
}

#appName {
    color: white;
    border: 2px solid black;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
}

#welcomePage {
    background-color: aqua;
}

#showWorkoutPage, #showNutritionPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 1em;
}

#workoutPage, #nutritionPage {
    display: none;
    margin-top: 20px;
} 

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color: rgba(63, 96, 243, 0.904);
    border: none;
}

legend {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: lighter;
    text-align: center;
}

footer {
    background-color: grey;
}

#creator {
    text-align: center;
}

#creator a {
    color: white;
}

fieldset {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.row::before, .row::after {
    display: flex;
    content: '';
}

.row::after {
    clear: both;
}

.col-2 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

button {
    display: inline-block;
    background-color: rgba(60, 34, 175, 0.918);
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 30px;
}

.fa-search {
    display: block;
    position: relative;
    padding: 5px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titleCard {
    display: block;
    background-color: bisque;
    margin: 0;
    border: 2px solid black;
    width: 50%;
}

.jsWorkoutName {
    font-weight: bold;
}

.jsThumbnail {
    width: 50%;
    height: 50%;
}

.jsVideoTitle {
    color: black;
}

#searchWorkout, #searchNutrition {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
}

.jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
    /* display: inline-block; */
    background-color: beige;
    border: 2px solid black;
    width: 50%;
}

#youtubeVideos, #googleRestaurants, #workoutDescription, #meetups {
    display: inline-block;
}

#moreMeetUps {
    display: none;
}

.jsSearchResults {
    margin: 0 auto;
    border: 10px solid red;
}

@media only screen and (min-width: 640px) {
    .col-2 {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) and (min-height: 500px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        padding: 7px 7px;
        text-decoration: none;
    }
}
