html {
    background-color: #0197b2;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100%;
}

*:focus {
    border: 3px solid red;
}

nav {
    display: none;
    background-color: rgb(22, 22, 22);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a:link {
    text-decoration: none;
}

nav#appOptions {
    margin-top: 14px;
}

#appName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Overpass Mono', monospace;
    background-color: #000000d5;
    color: #ffd700;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 100px;
}

#workout:hover {
    background-color: #0083bb;
    color: black;
}

#nutrition:hover {
    background-color: #29bf89;
    color: black;
}

#welcomePage {
    background-color: #0197b2;
}

p#introduction {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#showWorkoutPage, #showNutritionPage {
    display: block;
    color: black;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;
}

#showWorkoutPage {
    background-image: url(https://www.navymwrmidlant.com/modules/media/?do=thumb&id=41115f0d-f53a-47ce-8e02-f8dfa0eeaa60);
    height: 150px;
    background-repeat: no-repeat;
    left: 0;
}

#showNutritionPage {
    background-image: url(https://www.nutritionsmart.com/wp-content/themes/nutritionsmart/images/top_banner_new.jpg);
    height: 150px;
    margin-top: 40px;
    background-repeat: no-repeat;
    left: 0;
    bottom: 20px;
    padding-bottom: 2em;
}

.exposition {
    position: relative;
    background-color: rgb(255, 254, 254);
    text-align: center;
    width: 300px;
}

#workoutPage, #nutritionPage {
    display: none;
    margin-top: 20px;
    background-repeat: no-repeat;
} 

.jsSearchWorkoutForm, .jsSearchNutritionForm {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border: none;
}

.jsSearchWorkoutForm {
    background-color: #0083bb;
}

.jsSearchNutritionForm {
    background-color: #29bf89;
}

legend {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

#workoutResult, #youtubeWorkoutVideos {
    margin: 10px auto;
    width: 90%;
}

p {
    font-weight: lighter;
    text-align: center;
}

.disclaimer {
    font-style: italic;
    font-weight: bold;
}

#selectMuscleGroup, #selectWorkout, #searchNutrition {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

button {
    display: inline-block;
    background-color: #000;
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-search {
    display: block;
    position: relative;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
}

.titleCard, #moreRecipes, #moreWorkoutVideos, #moreMeetups, #moreRestaurants {
    display: block;
    background-color: #c7c7c7;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
}

#findMoreMeetups, .youtubeRecipeQuery, .youtubeWorkoutQuery, #findMoreRestaurants {
    font-size: 1.3em;
}

a.youtubeWorkoutQuery p, a#meetupQuery {
    color: darkblue;
    font-weight: 800;
}

a.youtubeRecipeQuery p, a.streetAddress p, a#zomatoQuery {
    color: green;
    font-weight: 800;
}

.workoutName {
    font-weight: bold;
}

nav#workoutOptions {
    margin-top: 40px;
    margin-bottom: 20px;
}

.jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
    background-color: rgb(243, 243, 236);
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}

div.jsSearchMeetups {
    text-align: center;
}

#workoutOptions, #nutritionOptions {
    margin-bottom: 16px;
}

p.restaurantName {
    font-weight: bold;
}

.jsThumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;;
}

p.jsWorkoutVideoTitle, p.jsRecipeVideoTitle {
    text-decoration: none;
    font-weight: 800;
    padding: 10px
}

p.jsWorkoutVideoTitle {
    color: blue;
}

p.jsRecipeVideoTitle {
    color: green
}