html {
    background-color: #bdbdbe;
    background-repeat: no-repeat;
    height: 100%;
}

nav {
    display: none;
    background-color: rgb(22, 22, 22);
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a:link {
    text-decoration: none;
}

#appName {
    background-color: rgba(70, 43, 223, 0.63);
    color: white;
    border: 2px solid black;
    width: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#workout:hover {
    background-color: #0083bb;
    color: black;
}

#nutrition:hover {
    background-color: #29bf89;
    color: black;
}

#welcomePage {
    background-color: #bdbdbe;
}

p#introduction {
    font-weight: bold;
}

#showWorkoutPage, #showNutritionPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 1em;
}

#workoutPage, #nutritionPage {
    display: none;
    margin-top: 20px;
    background-repeat: no-repeat;
} 

.jsSearchWorkoutForm, .jsSearchNutritionForm {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border: none;
}

.jsSearchWorkoutForm {
    background-color: #0083bb;
}

.jsSearchNutritionForm {
    background-color: #29bf89;
}

legend {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: lighter;
    text-align: center;
}

footer {
    color: white;
    background-color: rgb(22, 22, 22);
}

#creator {
    text-align: center;
}

#creator a {
    color: white;
}

button {
    display: inline-block;
    background-color: #7e8d85;
    color: white;
    height: 50px;
    margin-bottom: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.fa-home, .fa-search {
    border-radius: 50%;
}

.fa-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 30px;
}

.fa-search {
    display: block;
    position: relative;
    padding: 5px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.titleCard, #moreRecipes, #moreWorkoutVideos, #moreMeetUps, #moreRestaurants {
    display: block;
    background-color: bisque;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    width: 90%;
}

.workoutName {
    font-weight: bold;
}

.jsVideoTitle {
    color: black;
}

nav#workoutOptions {
    margin-bottom: 10px;
}

#searchWorkout, #searchNutrition {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: center;
}

.jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
    background-color: beige;
    border: 2px solid black;
    margin: 0 auto;
    width: 90%;
}

#workoutOptions, #nutritionOptions {
    margin-bottom: 16px;
}

#moreMeetUps {
    display: none;
}

p.restaurantName {
    font-weight: bold;
}

.jsThumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

p.jsVideoTitle {
    text-decoration: underline;
    color: blue;
    padding: 10px;
}

@media only screen and (max-width: 500px) and (min-height: 500px) {
    
    p {
        font-size: 1.2rem;
    }

    ul {
        font-size: 1.2rem;
    }

    #appName {
        width: 160px;
        font-size: 11px;
    }

    #showWorkoutPage, #showNutritionPage {
        font-size: 1rem;
    }
    
    a#workout, a#nutrition {
        padding: 10px;
        font-size: 16px;
    }

    button {
        display: inline-block;
        margin-bottom: 1em;
    }
    
    button:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    
    .fa-home {
        padding: 10px;
        font-size: 30px;
    }
    
    .fa-search {
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 1.4em;
    }
    
    #searchWorkout, #searchNutrition { 
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    p.restaurantName{
        font-size: 1.2rem;
    } 
    
    a.streetAddress {
        font-size: 1rem;
    }
    
    .jsSearchWgerWorkouts, .jsSearchYoutubeVideos, .jsSearchMeetups, .jsSearchRestaurants {
        margin: 0 auto;
        width: 90%;
    }

    a.jsMeetupName {
        font-size: 1.1rem;
    }

    .jsThumbnail {
        width: 50%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jsVideoTitle {
        font-size: 1.2rem;
        padding: 10px;
    }

    #creator {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 640px) and (min-height: 1000px) {

    p#introduction {
        font-size: 2em;
    }

    p {
        font-size: 1.7rem;
    }

    ul {
        font-size: 1.6rem;
    }

    #appName {
        width: 250px;
        height: 100px;
        font-size: 1em;
    }
    
    a#workout, a#nutrition {
        padding: 14px;
        font-size: 1.6rem;
    }
    
    legend {
        font-size: 1.8rem;
    }

    #instructionsNutr, #instructionsWorkout {
        font-size: 1.6rem;
    }

    #searchWorkout, #searchNutrition {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .fa-home {
        padding: 10px;
        font-size: 30px;
    }
    
    .fa-search {
        margin-top: 10px;
    }
    
    .titleCard {
        font-size: 2rem;
    }
    
    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 2em;
        font-size: 1.4em; 
    }
    
    p.restaurantName{
        font-size: 2rem;
    } 
    
    a.streetAddress {
        font-size: 1.3rem;
    }

    a.jsMeetupName {
        font-size: 1.6rem;
    }

    .jsThumbnail {
        width: 50%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .jsVideoTitle {
        font-size: 1.7rem;
        padding: 20px;
    }

    #creator {
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1000px) {

    p#introduction {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    ul {
        font-size: 2.1rem;
    }

    #appName {
        width: 250px;
        height: 100px;
        font-size: 1em;
    }
    
    a#workout, a#nutrition {
        padding: 16px;
        font-size: 2.1rem;
    }
    
    legend {
        font-size: 2.5rem;
    }

    #instructionsNutr, #instructionsWorkout {
        font-size: 2.2rem;
    }

    #searchWorkout, #searchNutrition {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
    }

    .fa-home {
        padding: 10px;
        font-size: 30px;
        width: 15%;
    }
    
    .fa-search {
        margin-top: 10px;
        width: 15%;
    }
    
    .titleCard {
        font-size: 2.3rem;
    }
    
    #showWorkoutPage, #showNutritionPage {
        margin-bottom: 40px;
        padding: 2.1em;
        font-size: 1.9em; 
    }
    
    p.restaurantName{
        font-size: 2rem;
    } 
    
    a.streetAddress {
        font-size: 1.3rem;
    }

    p.jsVideoTitle {
        padding: 15px;
        font-size: 2.1rem;
    }

    a.jsMeetupName {
        font-size: 2rem;
    }
    
    .jsVideoTitle {
        font-size: 1rem;
    }

    #creator {
        font-size: 2.4em;
    }
}
